#mainHeader {
	text-align: center;
}
#currentPageHeader {
	text-align: center;
}
#overallMatrixDisplay {
	text-align: center;
}
#matrixDisplayArea1 {
	background-color:#D7D7D7;
	min-height: 80px;
	min-width: 175px;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	padding: 10px;
}
#matrixDisplayArea2 {
	background-color:#D7D7D7;
	min-height: 80px;
	min-width: 175px;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	padding: 10px;
}
#leftMatrixInput {
	float: none;
}
#rightMatrixInput {
	float: none;
}
#leftMatrixDisplay {
	margin: auto;
}
#rightMatrixDisplay {
	margin: auto;
}
#mismatchDisplayArea {
	margin: auto;
}
#mismatchWarning {
	text-align: center;
	color: #DF0000;
}
#resultMatrixDisplayArea {
	background-color: #D7D7D7;
	min-height: 120px;
	max-width: 300px;
	margin: auto;
	text-align: center;
}
#calculateHolder {
	padding-top: 20px;
	margin: auto;
	text-align: center;
}
#resultMatrixDisplay {
	margin: auto;
}
#resultHeader {
	padding-bottom: 0px;
	padding-top: 10px;
}
fieldset {
	max-width: 300px;
}
.topNavBar {
	background-color: #AEAEAE;
	min-height: 50px;
	overflow: auto;
}
.topNavBar a {
	float: left;
	padding: 14px 16px;
	font-size: 18px;
}
.matrixFormInput {
	width: 30px;
}
table, td {
	border: 1px solid black;
}
td {
	min-width: 35px;
}
a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
	color: black;
}
a:active {
	text-decoration: underline;
	color: black;
}